.App {
    background-color: #F8F6FA;
    color: #473b47;
}

.App-signature {
    display: inline-block;
    padding: 8px;
    position: relative;
    background-color: white;
    border-width: 2px;
    border-color: #eae6ed;
    border-style: solid;
    padding: 0 16px 16px;
    margin: 8px;
    background-color: white;
}

.App-signature-label {
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    margin-top: 32px;
}

.App-copy {
    text-align: center;
    height: 48px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    outline: none;
    background: #ff285a;
    border: none;
    padding: 0 16px;
    cursor: pointer;
    margin: 8px;
    vertical-align: bottom;
}

.App-copy:hover {
    background: #ef6777;
}

.App-copy-explanation {
    display: inline-block;
    margin: 8px;
    vertical-align: bottom;
    line-height: 48px;
}

.App-copy-explanation--hidden {
    opacity: 0;
}
